In [3]:
# ou warehosue
import pandas as pd
import numpy as np
import re
import os
os.getcwd()

'c:\\Users\\dscshap3808\\Documents\\data\\BA'

In [14]:
whse_ou = pd.read_csv('./ou_whse0.csv')
# daily_kpi = pd.read_csv('./kpi_daily.csv')

In [15]:
re1 = re.compile(r'(?<=\.).+')
whse_ou.columns = [re1.findall(i)[0] for i in list(whse_ou.columns.to_numpy())]
daily_kpi.columns = [re1.findall(i)[0] for i in list(daily_kpi.columns.to_numpy())]
# re1.sub('',list(whse_ou.columns.to_numpy())[1])
df = whse_ou.merge(daily_kpi, on = 'ou_code')
df = df[df['data_source'] == 'SCALE']

In [26]:
def search_ou_whse(input):
    try:
        input2 = int(input)
        code = input
        cod='CN-'+str(code)
        cod2 = 'HK-' + str(code)
        return pd.concat([whse_ou[whse_ou['ou_code'] == cod], whse_ou[whse_ou['ou_code'] == cod2]], axis = 0)
    except:
        whse = input
        cod=str(whse).upper()
        # cod2 = 'HK-' + str(code)
        return whse_ou[whse_ou['ou_name'].str.match(cod)]

In [32]:
search_ou_whse('009')

,wms_warehouse_id,ou_code,ou_name,company_id,company_name,data_source
30,SQBHT,CN-009,BMS SHA HT0 WHS,squibb,squibb,SCALE

In [98]:
# def search_ou_whse(input):
#     try:
#         input = int(input)
#         print(0)
#     except:
#         if type(input) == str:
#             print ('str')
#         if type(input) == int:
#             print (2)

123123